body {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

header{
    display: flex !important; 
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-content: center;
}

section > div {
    display: flex;
    justify-content: center;
}

#teste{
    background: linear-gradient(180deg, rgba(153, 66, 149, 0.85) 0%, rgba(50, 69, 153, 0.85) 93.92%);
}

section > div > div {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.lead {
    color: #fff;
    font-size: 20px !important;
}

a {
    margin-right: 200px;
    color: #fff !important;
    font-size: 20px;
    text-decoration: underline !important;
}

.btn-secondary {
    background-color: #ff6948 !important;
    border-color: #ff6948 !important;
}

.btn-secondary:hover {
    background-color: #ff6948 !important;
    border-color: #ff6948 !important;
}

div > div {
    margin-top: 70px;
}

.form-control {
    margin-bottom: 5px;
}

#top {
    margin-top: 40px !important;
}

section > div > div {
    padding-bottom: 70px;
}

/* h2 */
#cabeçalho{
    padding: 20px;
    color: #fff;
}

/* p */
.ordem {
    padding-bottom: 10px;
    margin-top: 10px;
}

/* Ultimo p */
#base {
    margin-top: 10px;
}

/* ampliar fomulario */
#ampliar {
    width: 100%;
}

/* ajustar imagem */
#ajusteI {
    justify-content: flex-end;
    display: flex;
    margin-top: 30px;
}

#ajusteP{
    margin-top: 30px;
}
