body {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex !important; 
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-content: center;
}

section > div {
    display: flex;
    justify-content: center;
}

#teste{
    background: linear-gradient(180deg, rgba(153, 66, 149, 0.85) 0%, rgba(50, 69, 153, 0.85) 93.92%);
}

section > div > div {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}